<div class="page-header">
  <%= link_to new_staff_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Staff
  <% end %>
  <h1>Listing staffs</h1>
</div>

 <div class="panel panel-primary" id="accordion">
  <div class="panel-heading">
    <%= link_to '#search-form', 'data-toggle' => "collapse", 'data-parent' => "#accordion", 'aria-expanded' => "true", 'aria-controls' => "search-form" do %>
    <h5 class="panel-layout"><b>Search Information</b></h5>
    <% end %>
  </div>

  <div class="panel-body panel-collapse collaspe in" id="search-form">
    <%= form_tag lecturers_path, :method => 'get' do %>
      <div class="form-group">
        <div class ="col-md-12 search-space">
          <%= label :staff_name, "Staff Name" %> 
          <%= text_field_tag :staff_name ,params[:staff_name], :class => "form-control" %>
        </div>
        <div class="col-md-10">
          <%= submit_tag :search, :class => "btn btn-default btn-primary" %>
        </div>
      </div>
    <% end %>
  </div> <!-- panel body -->
</div> <!-- panel -->

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Staff name</th>
            <th>Email</th>
            <th>Post</th>
            <th>Phone</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @staffs) do |staff| %>
            <td><%= staff.staff_name %></td>
            <td><%= staff.email %></td>
            <td><%= staff.post %></td>
            <td><%= staff.phone %></td>
            <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
