<div class="page-header">
  <%= link_to staffs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_staff_path(@staff), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show staff</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Staff name:</th>
  <td><%= @staff.staff_name %></td></tr>

  <tr><th>Dob:</th>
  <td><%= @staff.dob.strftime("%d-%m-%Y") %></td></tr>

  <tr><th>Nrc:</th>
  <td><%= @staff.nrc %></td></tr>

  <tr><th>Post:</th>
  <td><%= @staff.post %></td></tr>

  <tr><th>Email:</th>
  <td><%= @staff.email %></td></tr>

  <tr><th>Address:</th>
  <td><%= @staff.address %></td></tr>

  <tr><th>Phone:</th>
  <td><%= @staff.phone %></td></tr>

</table>
</div>