<div class="page-header">
  <%= link_to forums_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_forum_path(@forum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h2><%= @forum.title %></h2>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><td><%= @forum.author_id %></td>
  <td><%= @forum.date.strftime("%d-%m-%Y") %></td></tr>

  <tr><td><%= @forum.description %></td><td></td></tr>

</table>
</div>

<%= render @forum.comments %>
 
<%= render 'comments/form' %>
