<div class="page-header">
  <%= link_to new_student_register_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Student register
  <% end %>
  <h1>Listing student_registers</h1>
</div>

<div class="panel panel-primary" id="accordion">
  <div class="panel-heading panel-layout">
    <%= link_to '#search-form', 'data-toggle' => "collapse", 'data-parent' => "#accordion", 'aria-expanded' => "true", 'aria-controls' => "search-form" do %>
    <h5 class="panel-layout"><b>▼ Search Information</b></h5>
    <% end %>
  </div>

  <div class="panel-body panel-collapse collaspe in" id="search-form">
    <%= form_tag student_registers_path, :method => 'get' do %>
      <div class="form-group">
        <div class ="col-md-6 search-space">
          <%= label :student_id, "Student Name" %> 
          <%= select_tag :student_id, options_from_collection_for_select(Student.all, :id, :student_name, params[:student_id]), include_blank: true, :class => 'form-control' %>
        </div>
        <div class ="col-md-6 search-space">
          <%= label :section_id, "Section No" %> 
          <%= select_tag :section_id, options_from_collection_for_select(Section.all, :id, :section_name, params[:section_id]), include_blank: true, :class => 'form-control' %>
        </div>
        <div class="col-md-10">
          <%= submit_tag :search, :class => "btn btn-default btn-primary" %>
        </div>
      </div>

    <% end %>
  </div> <!-- panel body -->
</div> <!-- panel -->

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Student</th>
            <th>Section</th>
            <th>Register date</th>
            <th>Complete tf</th>
            <th>Complete ef</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @student_registers) do |student_register| %>
            <td><%= student_register.student_id %></td>
            <td><%= student_register.section.section_name %></td>
            <td><%= student_register.register_date.strftime("%d-%m-%Y") %></td>
            <td><%= student_register.complete_tf %></td>
            <td><%= student_register.complete_ef %></td>
            <td><%= link_to 'Show', student_register %></td>
        <td><%= link_to 'Edit', edit_student_register_path(student_register) %></td>
        <td><%= link_to 'Destroy', student_register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
