<div class="page-header">
  <%= link_to student_registers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_student_register_path(@student_register), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Student Registration</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">

  <tr><th>Student:</th>
  <td><%= @student_register.student_id %></td></tr>

  <tr><th>Section:</th>
  <td><%= @student_register.section.section_name %></td></tr>

  <tr><th>Tution fees:</th>
  <td><%= @student_register.tution_fees %></td></tr>

  <tr><th>Exam fees:</th>
  <td><%= @student_register.exam_fees %></td></tr>

  <tr><th>Register date:</th>
  <td><%= @student_register.register_date.strftime("%d-%m-%Y") %></td></tr>

  <% if @student_register.complete_tf == true %>
    <% tutionfees = 'Yes' %>
  <% else %>
    <% tutionfees = 'No' %>
  <% end %>

  <tr><th>Tution Fees Complete:</th>
  <td><%= tutionfees %></td></tr>

  <% if @student_register.complete_ef == true %>
    <% examfees = 'Yes' %>
  <% else %>
    <% examfees = 'No' %>
  <% end %>

  <tr><th>Exam Fees Complete:</th>
  <td><%= examfees %></td></tr>

  <tr><th>Staff:</th>
  <td><%= @student_register.staff_id %></td></tr>

  <tr><th>Remark:</th>
  <td><%= @student_register.remark %></td></tr>

</table>
</div>
