<div class="page-header">
  <%= link_to new_section_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Section
  <% end %>
  <h1>Listing sections</h1>
</div>

 <div class="panel panel-primary" id="accordion">
  <div class="panel-heading">
    <%= link_to '#search-form', 'data-toggle' => "collapse", 'data-parent' => "#accordion", 'aria-expanded' => "true", 'aria-controls' => "search-form" do %>
    <h5 class="panel-layout"><b>Search Information</b></h5>
    <% end %>
  </div>

  <div class="panel-body panel-collapse collaspe in" id="search-form">
    <%= form_tag sections_path, :method => 'get' do %>
      <div class="form-group">
        <div class ="col-md-6 search-space">
          <%= label :course_id, "Course Name" %> 
          <%= select_tag :course_id, options_from_collection_for_select(Course.all, :id, :course_name, params[:course_id]), include_blank: true, :class => 'form-control' %>
        </div>
        <div class ="col-md-6 search-space">
          <%= label :section_name, "Section Name" %>
          <%= text_field_tag :section_name ,params[:section_name], :class => "form-control" %>
        </div>
        <div class="col-md-10">
          <%= submit_tag :search, :class => "btn btn-default btn-primary" %>
        </div>
      </div>
    <% end %>
  </div> <!-- panel body -->
</div> <!-- panel -->

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Section name</th>
            <th>Course</th>
            <th>Start date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sections) do |section| %>
            <td><%= section.section_name %></td>
            <td><%= section.course.course_name %></td>
            <td><%= section.start_date.strftime("%d-%m-%Y") %></td>
            <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
