<div class="page-header">
  <%= link_to sections_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_section_path(@section), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show section</h1>
</div>

<dl class="dl-horizontal">
  <dt>Section name:</dt>
  <dd><%= @section.section_name %></dd>

  <dt>Course:</dt>
  <dd><%= @section.course.course_name %></dd>

  <dt>Start date:</dt>
  <dd><%= @section.start_date.strftime("%d-%m-%Y") %></dd>

  <dt>End date:</dt>
  <dd><%= @section.end_date.strftime("%d-%m-%Y") %></dd>

  <dt>Start time:</dt>
  <dd><%= @section.start_time %></dd>

  <dt>End time:</dt>
  <dd><%= @section.end_time %></dd>

  <dt>Description:</dt>
  <dd><%= @section.description %></dd>

</dl>
