<div class="page-header">
  <%= link_to sections_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_section_path(@section), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show section</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Section name:</th>
  <td><%= @section.section_name %></td></tr>

  <tr><th>Course:</th>
  <td><%= @section.course.course_name %></td></tr>

  <tr><th>Start date:</th>
  <td><%= @section.start_date.strftime("%d-%m-%Y") %></td></tr>

  <tr><th>End date:</th>
  <td><%= @section.end_date.strftime("%d-%m-%Y") %></td></tr>

  <tr><th>Start time:</th>
  <td><%= @section.start_time %></td></tr>

  <tr><th>End time:</th>
  <td><%= @section.end_time %></td></tr>

  <tr><th>Description:</th>
  <td><%= @section.description %></td></tr>

</table>
</div>