<div class="page-header">
  <%= link_to subjects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_subject_path(@subject), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show subject</h1>
</div>


<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Subject name:</th>
  <td><%= @subject.subject_name %></td></tr>

  <tr><th>Course:</th>
  <td><%= @subject.course.course_name %></td></tr>

  <tr><th>Description:</th>
  <td><%= @subject.description %></td></tr>

</table>
</div>