<div class="page-header">
  <%= link_to exam_lists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_exam_list_path(@exam_list), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show exam list</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Exam Title:</th>
  <td><%= @exam_list.title %></td></tr>

  <tr><th>Course:</th>
  <td><%= @exam_list.course.course_name %></td></tr>

  <tr><th>Subject:</th>
  <td><%= @exam_list.subject.subject_name %></td></tr>

  <tr><th>Exam date:</th>
  <td><%= @exam_list.exam_date.strftime("%d-%m-%Y") %></td></tr>

</table>
</div>