<div class="page-header">
  <%= link_to courses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_course_path(@course), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show course</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Course name:</th>
  <td><%= @course.course_name %></td></tr>

  <tr><th>Related field:</th>
  <td><%= @course.related_field %></td></tr>

  <tr><th>Description:</th>
  <td><%= @course.description %></td></tr>

</table>
</div>
