<div class="page-header">
  <%= link_to lecturers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_lecturer_path(@lecturer), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show lecturer</h1>
</div>

<dl class="dl-horizontal">
  <dt>Lecturer name:</dt>
  <dd><%= @lecturer.lecturer_name %></dd>

  <dt>Gender:</dt>
  <dd><%= @lecturer.gender %></dd>

  <dt>Dob:</dt>
  <dd><%= @lecturer.dob %></dd>

  <dt>Nrc:</dt>
  <dd><%= @lecturer.nrc %></dd>

  <dt>Email:</dt>
  <dd><%= @lecturer.email %></dd>

  <dt>Address:</dt>
  <dd><%= @lecturer.address %></dd>

  <dt>Phone:</dt>
  <dd><%= @lecturer.phone %></dd>

</dl>
</br>
  <h3>Teaching Schedule for lecturer</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Section</th>
            <th>Subject</th>
            <th>Date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ts) do |teaching_schedule| %>
            <td><%= teaching_schedule.section.section_name %></td>
            <td><%= teaching_schedule.subject.subject_name %></td>
            <td><%= teaching_schedule.start_date %></td>
            <td><%= link_to 'Show', teaching_schedule %></td>
        <td><%= link_to 'Edit', edit_teaching_schedule_path(teaching_schedule) %></td>
        <td><%= link_to 'Destroy', teaching_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

