<div class="page-header">
  <%= link_to ebooks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ebook_path(@ebook), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show ebook</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
  <tr><th>Ebook name:</th>
  <td><%= @ebook.ebook_name %></td></tr>

  <tr><th>File:</th>
  <td><%= link_to @ebook.ebook_name, @ebook.file_url %></td></tr>

  <tr><th>About:</th>
  <td><%= @ebook.about %></td></tr>

  <tr><th>Category:</th>
  <td><%= @ebook.category.category_name %></td></tr>

  <tr><th>Uploader:</th>
  <td><%= @ebook.uploader_id %></td></tr>

</table>
</div>